.services {
  padding: 20px;
  text-align: center;
}

.center {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

p {
  padding: 1rem;
  font-size: 1.2rem;
  color: #555;
}
